@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer base {
  body {
    @apply font-notoSans text-base text-dark-500 font-light;
  }
}

@layer components {
  .main-container {
    @apply max-w-[992px] px-4 mx-auto;
  }

  .primary-btn {
    @apply bg-primary-300-400 text-light font-light text-[18px] leading-[26px] px-5 h-[56px] min-w-[296px] rounded-md;
  }

  .absoluteCenter {
    @apply absolute top-2/4 left-2/4 -translate-y-1/2 -translate-x-1/2;
  }
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #777777;

    border-radius: 999px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #ffcc21;
    border-radius: 999px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #ff963c;
    border-radius: 999px;
  }
}
